[Desktop Entry]
Name=WmGrabImage
Comment=Image Grabber
Comment[pl]=Wyłapywacz Obrazków
Exec=wmGrabImage
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
