[Desktop Entry]
Name=wmGrabImage
Comment=Image Grabber
Comment[pl]=Wyłapywacz Obrazków
Exec=wmGrabImage
Terminal=0
Type=Application
# vi: encoding=utf-8
